@tailwind base;
@tailwind components;
@tailwind utilities;




h1 h2 h3 h4 {
  font-size: 120px;
}

.mixpattern {
  background-image: url('./pattern.svg');
  background-position-x: 61%;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
.wave {
  background-image: url('./svg.png');
  background-position-x: 61%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.flip-box {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.Dove{
  background-image: url('./Dove.png');
  background-size: cover;
}

.sally {
  max-width: 120em !important;
  width: 14em !important;
  position: absolute;

  
}
.florar{
  background-image: url('https://images.rawpixel.com/image_500/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MjItMDYzLWt6cGhnMjNrLmpwZw.jpg');
}
.pagebg{
  background-size: cover;
  background-image: url('https://images.rawpixel.com/image_500/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLXMxMTItcGEtNTZfMS5qcGc.jpg');
}
.a {
  max-width: 12em !important;
  top: -0.6em !important;
  rotate: -10deg;
  width: 8em !important;
}

body{
        overflow: hidden !important;
        cursor: pointer;
        background-color: white;
        font-family: Montserrat;
        font-size: 12px;
 
        margin: 0;
        padding: 0;
        color: white;
    }
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(151, 151, 152);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  